terraform {
  backend "s3" {
    bucket         = "actatrace-terraform-state-prod"
    key            = "prod/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "actatrace-terraform-locks-prod"
    encrypt        = true
  }
}
