terraform {
  backend "s3" {
    bucket         = "actatrace-terraform-state-staging"
    key            = "staging/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "actatrace-terraform-locks-staging"
    encrypt        = true
  }
}

